#titulo{
    color:#ff7300f6;
    background-color: #3e4546;
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 58px;
    font-weight: bold;
}

#primeracard{
    background-color: #3e4546;
    color: #d4d7d8;
    }
    
    #contenido{
        font-size: 18px;
    }

