<ion-app>
  <ion-menu content-id="main-content">
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    <ion-content>
      <ion-list routerLink="/principal">
        <ion-menu-toggle auto-hide="false">
          <ion-item button>
            <ion-icon slot="start" name='home'color="secondary"></ion-icon>
            <ion-label>
              Menu
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list routerLink="/pelicula">
        <ion-menu-toggle auto-hide="false">
          <ion-item button>
            <ion-icon slot="start" name='film'color="secondary"></ion-icon>
            <ion-label>
              Pelicula
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list routerLink="/serie">
        <ion-menu-toggle auto-hide="false">
          <ion-item button>
            <ion-icon slot="start" name='videocam'color="secondary"></ion-icon>
            <ion-label>
              Serie
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list routerLink="/search">
        <ion-menu-toggle auto-hide="false">
          <ion-item button>
            <ion-icon slot="start" name='search-outline'color="secondary"></ion-icon>
            <ion-label>
              Buscar
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-page class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu" color="primary"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title id="titulo">Serie</ion-title>
      </ion-toolbar>
    </ion-header>
    <br>
    <ion-content class="ion-padding">
<ion-card id="primeracard">
        <img src="./assets/img/jessie1.jpg" />
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title color="tertiary"> Jessie </ion-card-title>
        </ion-card-header>
        <ion-card-content id="contenido">
          Una adolescente tejana se muda a Nueva York para hacer realidad sus sueños, pero acaba haciendo de niñera de los cuatro hijos de una conocida pareja.
        </ion-card-content>
      </ion-card>
      <br>
      <ion-card id="primeracard">
        <img src="./assets/img/how.jpg" />
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title color="tertiary"> How i met your mother</ion-card-title>
        </ion-card-header>
        <ion-card-content id="contenido">
          Un padre le cuenta a sus hijos, a través de una serie de flashbacks, el viaje que él y sus cuatro mejores amigos emprendieron, el cual le llevaría a conocer a su madre
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-page>
</ion-app>